<!DOCTYPE html>
<html>
<head>
  <title></title>

  <style type="text/css">
    body {
      font-family: 'Lucida Grande';
    }
    .paletteBox {
      padding: 70px;
      display: inline-block;
    }
  </style>
</head>
<body>
  
<h1>Rise</h1>
<div class="paletteBox" style="background: #2B3A42">#2B3A42</div>
<div class="paletteBox" style="background: #3F5765">#3F5765</div>
<div class="paletteBox" style="background: #BDD4DE">#BDD4DE</div>
<div class="paletteBox" style="background: #EFEFEF">#EFEFEF</div>
<div class="paletteBox" style="background: #E74C3C">#E74C3C</div>


</body>
</html>