<!DOCTYPE html>
<html>
<head>
  <title></title>

  <link rel="stylesheet" href="color_palette.css">
</head>
<body>

<div class="paletteBox black">app-black</div>

<div class="paletteBox dark-gray">app-dark-gray</div>
<div class="paletteBox gray">app-gray</div>
<div class="paletteBox light-gray">app-light-gray</div>

<div class="paletteBox blue">app-blue</div>
<div class="paletteBox blue-violet">app-blue-violet</div>
<div class="paletteBox lighter-blue">app-lighter-blue</div>
<div class="paletteBox sky-blue">app-sky-blue</div>

<div class="paletteBox green">app-green</div>

<div class="paletteBox red ">app-red</div>
<div class="paletteBox lighter-red">app-ligther-red</div>

<div class="paletteBox orange">app-orange</div>

<div class="paletteBox yellow">app-yellow</div>





</body>
</html>