<!DOCTYPE html>
<html>
<head>
  <title></title>

  <link rel="stylesheet" href="color_palette.css">
</head>
<body>

<div class="paletteBox black">app-black</div>
<div class="paletteBox dark-gray">app-dark-gray</div>
<div class="paletteBox gray">app-gray</div>
<div class="paletteBox red ">app-red</div>
<div class="paletteBox strong-red">app-strong-red</div>
<div class="paletteBox blue">app-blue</div>
<div class="paletteBox green">app-green</div>


</body>
</html>