<!DOCTYPE html>
<html>
<head>
  <title></title>

  <link rel="stylesheet" href="all.css">
</head>
<body>

  {{> _top_toolbar }}

  <div class="js-application-container">

    {{!-- All the app will be placed here --}}

  </div>

  <script type="text/javascript" src="/js/client_vendor_bundle.js"></script>
  <script type="text/javascript" src="/js/client_lib_bundle.js"></script>
  <script type="text/javascript" src="/js/client_src_bundle.js"></script>
</body>
</html>