<!DOCTYPE html>
<html>
<head>
  <title></title>

  <link rel="stylesheet" href="all.css">
</head>
<body>

  {{> _top_toolbar }}

  <div class="js-application-container">

    {{!-- All the app will be placed here --}}

  </div>

  <script type="text/javascript" src="/js/vendor.bundle.js"></script>
  <script type="text/javascript" src="/js/webpack_app_bundle.js"></script>

</body>
</html>