<!DOCTYPE html>
<html>
<head>
  <title></title>

  <link rel="stylesheet" href="all.css">
</head>
<body>
  

  <div class="js-application-container">
    
    {{!-- All the app will be placed here --}}

  </div>

  <script type="text/javascript" src="/js/all.js"></script>
</body>
</html>