.cardList
  width 282px
  height 100%
  float left
  margin-right 10px
  margin-bottom 10px
  padding 15px
  overflow-y auto
  background-color app-lighter-gray
  border-radius(3px)
  user-select(none)


  .cardListHeader
    position relative
    width 100%
    padding-bottom 2px
    margin-bottom 20px

    .cardListRemove
      opacity 0
      color app-gray
      position absolute
      top 0
      right 0
      cursor pointer
      transition color .5s, opacity .5s

      &:hover
        color app-red

    .cardListTitle
      cursor pointer
      color app-dark-gray-2
      font-weight 300


    .cardListAddCard
      opacity 0
      color app-gray
      position absolute
      top 0
      right 20px
      cursor pointer
      transition color .5s, opacity .5s

      &:hover
        opacity 1
        color app-green

    &:hover
      .cardListAddCard
        opacity 1
      .cardListRemove
        opacity 1




