.card
  display inline-block
  position relative
  width 15rem
  height 10rem
  border-radius 5px
  border 1px solid board-blue
  padding 1rem
  margin 1rem

  .card__title
    padding 0
    margin 0
    margin-bottom 1rem

  .card__description
    display block

  .card__remove
    position absolute
    top 0.2rem
    right 0.2rem
    font-size .6rem
    cursor pointer
    background-color board-gray
    padding .3rem
    border-radius 3px

  input
    margin-top 1rem
    border none
    border-bottom 1px solid board-gray

    &:focus
      outline none