.listsToolbar
  cursor pointer
  float left
  padding 10px
  width 280px
  bottom 0
  right 10%
  background-color white
  border-radius(3px)
  border 1px solid app-gray
  transition background-color .2s, color .2s

  &:hover
    background-color app-green
    color white