.topToolbar
  width 10rem
  position fixed
  left .5rem
  top .5rem
  height 2.5rem
  opacity .7
  border 1px solid app-gray
  background-color white
  border-radius(3px)

  .userMenu
    position absolute
    background-image url("http://www.gravatar.com/avatar/b38ea2fb1adfbd6d1497438f1a3d0278.jpg")
    border 1px solid app-gray
    width 3rem
    height 3rem
    border-radius 50%
    background-size cover
    left .3rem
    top -.3rem