.topToolbar
  width 100%
  position aboslute
  top 0
  height 2.5rem
  background-color rgba(app-blue, .8)

  .userMenu
    position absolute
    width 53px
    height 28px
    border-radius 3px
    -moz-background-size cover
    background-size cover
    left 21px
    top 6px
    padding-top 6px
    text-align center
    background-color #FFF
    font-size 16px
