html
  font-size 100%

body
  font-family "Helvetica neue", "Lucida Grande", Helvetica, Arial, sans-serif
  line-height 1
  font-size 100%
  height 100%
  color #616161
  background-color app-body-background

*, *:before, *:after
  box-sizing(border-box)
