@import "colors"

.paletteBox
  width: 8rem;
  height: 8rem;
  border-radius: 8em;
  background-color:red;
  display: block;
  margin: 1rem;
  box-sizing border-box
  padding 1rem
  padding-top 2rem
  float left
  text-transform uppercase
  text-align center

.black
  color white
  background-color app-black

.dark-gray
  background-color app-dark-gray

.gray
  background-color app-gray

.light-gray
  background-color app-light-gray

.red
  background-color app-red

.lighter-red
  background-color app-lighter-red


.blue
  background-color app-blue

.blue-violet
  background-color app-blue-violet

.lighter-blue
  background-color app-lighter-blue

.sky-blue
  background-color app-sky-blue


.green
  background-color app-green


.orange
  background-color app-orange


.yellow
  background-color app-yellow
