app-black = #1F1F21

app-body-background = #E9EAED

app-dark-gray-2 = #2C2C2C
app-dark-gray = #BDBEC2
app-gray = #D7D7D7
app-lighter-gray = #F2F2F2
app-light-gray = #F7F7F7

app-red = #FF3B30
app-lighter-red = #ff2d55

app-blue = #007AFF
app-blue-violet = #5856D6
app-lighter-blue = #34AADC
app-sky-blue = #5AC8FA

app-green = #4CD964

app-orange = #FF9500

app-yellow = #FFCC00

