@import "colors"

.paletteBox
  box-sizing border-box
  padding 1rem
  width 10rem
  height 10rem
  margin 1rem
  float left
  text-transform uppercase

.black
  color white
  background-color app-black

.dark-gray
  background-color app-dark-gray

.gray
  background-color app-gray

.light-gray
  background-color app-light-gray

.red
  background-color app-red

.strong-red
  background-color app-strong-red

.blue
  background-color app-blue

.green
  background-color app-green

