.editInPlaceInput
  position relative
  display flex
  align-items center
  height 28px
  font-size 15px
  font-weight bold
  color rgba(app-black, .8)
  line-height normal

  ._readOnlyText
    cursor pointer

  ._input
    display none
    width calc(100% - 50px)
    border none
    outline none
    padding 0
    background-color transparent
    color app-blue

  ._editControls
    display none

    ._control
      font-size 12px
      cursor pointer
      position absolute
      padding 1px 7px
      top 6px
      height 18px
      background-color white
      border-radius 3px
      border 1px solid
      border-color: #E5E6E9 #DFE0E4 #D0D1D5;
      transition color .2s
      color rgba(black, .6)

      &:hover
        color black

    ._save
      right 24px

    ._cancel
      right -1px;

.editInPlaceInput.is-editing
  padding-top 0

  ._readOnlyText
    display none

  ._input
    display block

  ._editControls
    display block
