.editInPlaceInput
  position relative
  display flex
  align-items center
  height 28px
  font-size 14px
  font-weight 300
  color app-dark-gray-2
  line-height normal

  ._readOnlyText
    cursor pointer

  ._input
    display none
    width 100%
    border none
    outline none
    padding 0
    background-color transparent
    color app-blue

  ._editControls
    display none

    ._control
      font-size 12px
      cursor pointer
      position absolute
      padding 2px 4px
      top 22px
      height 18px
      background-color white
      transition background .2s, color .2s
      box-shadow 1px 1px 1px 1px app-gray

    ._save
      right 18px
      &:hover
        background-color app-green
        color white

    ._cancel
      right -1px;
      &:hover
        background-color app-red
        color white

.editInPlaceInput.is-editing
  padding-top 0

  ._readOnlyText
    display none

  ._input
    display block

  ._editControls
    display block
