.card
  position relative
  width 15rem
  border-radius 5px
  background-color white
  margin-top 10px
  box-shadow 1px 1px 1px 0px rgba(1, 1, 1, 0.1)

  .card__title
    padding .5rem
    margin 0
    font-weight normal
    font-size .9rem

  .card__description
    display block
    padding .5rem
    font-size .8rem

  .card__remove
    opacity 0
    color app-gray
    position absolute
    top 0.2rem
    right 0.5rem
    cursor pointer
    transition color .5s, opacity .5s

    &:hover
      color app-red

  &:hover
    .card__remove
      opacity 1

  input
    margin-top 1rem
    border none
    border-bottom 1px solid app-gray

    &:focus
      outline none