.card
  position relative
  width 100%
  border-radius 5px
  background-color white
  margin-top 2px
  margin-bottom 2px
  border 1px solid
  border-color #E5E6E9 #DFE0E4 #D0D1D5;
  cursor pointer

  ._title
    padding .5rem
    margin 0
    font-weight normal
    font-size 14px
